.search-bar {
	height: 40vh;
	background: url("images/featureimg-browse.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ui.multiple.dropdown > .label {
	background-color: green;
	color: white;
}