<template name="Site_Header">
  <div class="navbar">
    <div class="ui fixed borderless menu inverted">
      <div class="ui container">
        <a href="/" class="item">Manoa Grindz</a>
        <a href="/browse" class="item">Browse</a>
        <a href="/today" class="item">Today's Picks</a>
        <a href="/events" class="item">Events</a>
        <a href="/add-restaurant" class="item">Add Restaurant</a>
        <a onclick="userRedirect()" href="" class="item right"><i class="user icon"></i></a>
        <div class="item">{{>Cas_Login}}</div>
      </div>
    </div>
  </div>
</template>