.landing-section-1 {
  margin-top: 48px;
  padding: 10px 10px 30px 10px;
  background-color: #55995d;
  color: #E5F9E7;
}

.landing-section-1 .ui.borderless.menu {
  background-color: #084f10;
}

.landing-section-2 {
  padding: 20px 10px 20px 10px;
  background-color: #e1d3c1;
  color:  #00B5AD;
}

.landing-section-3 {
  padding: 20px 10px 30px 30px;
  background-color: #55995d;
  color: #E5F9E7;
}


.landing-section-1-welcome {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 72px;
}

.landing-section-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
}